---
const name = 'shuuhei hanashiro'
import { Counter } from "../components/Counter";
// import Layout from '../layouts/Layout.astro'
---
<!-- <Layout title="about"> -->
  <main>
    <h1>About</h1>
    <p>name: {name}</p>
    <Counter client:load defaultValue={10} />
  </main>
<!-- </Layout> -->
