---
import { Header } from "../components/Header";
import { PostItem } from "../components/posts/PostItem";
import { getPosts } from "../server/get-posts";

const posts = await getPosts();
---
<html lang="ja">
  <head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>posts</title>
	</head>
	<body>
		<Header title="posts" />
		<h2 style={{ fontSize: '12px' }}>Astro: item count 100</h2>
    {posts.map(post => {
      return <PostItem post={post} />
    })}    
	</body>
</html>
